<div class="field">
    <label for="" class="label"> {{label}}</label>
    <div class="control">
        <input class="input" [ngClass]="{'is-danger' : showErrors()}" 
         type="text" [formControl]="control">
    </div>
    <ng-container *ngIf="control.touched && control.errors && control.dirty">
        <div class="help is-danger" *ngIf="control.errors['required']">
            Value is require
        </div>
        <div class="help is-danger"  *ngIf="control.errors['minlength']">
            Value you entered is {{control.errors['minlength'].actualLength}}
            characters long ,but it must be at least
            {{control.errors['minlength'].requiredLength}}
        </div>
<div *ngIf="control.errors['pattern']">
    invalid Format
</div>
    </ng-container>
</div>